{% extends 'layout.html' %}

{% block nav_dispatch %}is-active{% endblock %}

{% block title %}Dispatch{% endblock %}

{% block body %}
  <form method="post">
    <div class="field is-horizontal">
      <label class="label field-label" for="stored_products">Stored Products</label>
      <div class="control field-body">
        <div class="select">
          {% for product in stored_products %}
            <select id="stored_products" name="stored_product_id">
              <option value="{{ product.id }}">
                {{ product.type.name }}
              </option>
            </select>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <label class="label field-label" for="providers">Shipping Providers</label>
      <div class="control field-body">
        <div class="select">
          {% for provider in providers %}
            <select id="providers" name="provider_id">
              <option value="{{ provider.id }}">
                {{ provider.name }}
              </option>
            </select>
          {% endfor %}
        </div>
      </div>
    </div>

    <button
        class="button is-success"
        {% if not stored_products or not providers %}
          disabled="disabled"
        {% endif %}
    >Dispatch</button>
  </form>
{% endblock %}