{% extends 'layout.html' %}

{% block nav_goods_in %}is-active{% endblock %}

{% block title %}Goods In{% endblock %}

{% block body %}
  <form method="post">
    <div class="field is-horizontal">
      <label class="label field-label" for="raw_ingredients">Raw Ingredients</label>
      <div class="control field-body">
        <div class="select">
          <select id="raw_ingredients" name="raw_ingredient_id">
          {% for raw_ingredient in raw_ingredients %}
            <option value="{{ raw_ingredient.id }}">
              {{ raw_ingredient.type.name }}: {{ raw_ingredient.amount }}
            </option>
          {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <label class="label field-label" for="amount">Amount</label>
      <div class="control field-body">
        <input id="amount" class="input" type="number" name="amount" />
      </div>
    </div>

    <button
        class="button is-success"
        {% if not raw_ingredients %}
          disabled="disabled"
        {% endif %}
    >Store</button>
  </form>
{% endblock %}