<html lang="en">
  <head>
    <title>Toy Factory</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>

    <div class="columns">
      <div class="column"></div>
      <div class="column">

        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu"
               aria-expanded="false" data-target="navbarItems">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarItems" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item {% block nav_goods_in %}{% endblock %}" href="{{ url_for('goods_in') }}">
                Goods In
              </a>
              <a class="navbar-item {% block nav_production %}{% endblock %}" href="{{ url_for('production') }}">
                Production
              </a>
              <a class="navbar-item {% block nav_dispatch %}{% endblock %}" href="{{ url_for('dispatch') }}">
                Dispatch
              </a>
            </div>
          </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
          {% for category, message in messages %}
            <div class="notification {{ category }}">
              <p>{{ message|safe }}</p>
            </div>
          {% endfor %}
        {% endwith %}

        <div class="box container">
          <p class="title">{% block title %}{% endblock %}</p>

          {% block body %}
          {% endblock %}
        </div>
      </div>
      <div class="column"></div>
    </div>

    {% block scripts %}
    {% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

  </body>
</html>