{% extends 'layout.html' %}

{% block nav_production %}is-active{% endblock %}

{% block title %}Production{% endblock %}

{% block body %}
  <form method="post">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Ingredients</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for product_type_name, product_type_details in product_type_requirements.items() %}
        <tr>
          <td>{{ product_type_name }}</td>
          <td>
            {% for required_ingredient_type_name, required_ingredient_amount in product_type_details.required_ingredients.items() %}
              <p>{{ required_ingredient_type_name }}: {{ ingredient_type_totals.get(required_ingredient_type_name, 0) }} / {{ required_ingredient_amount }}</p>
            {% endfor %}
          </td>
          <td>
            <button
                class="button is-success" name="finished_product_type_id"
                value="{{ product_type_details.id }}"
                {% if not product_type_details.requirements_met %}
                  disabled="disabled"
                {% endif %}
            >Produce</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}